#buttons{
    border-style: solid;
    background-color: grey;
    color: black;
}

.gif{
    margin:1%;
}

#input{
    margin:2%;
}

#buttons{
    margin:1%;
}

body{
    background-image: url(../images/darkness.png);
}

#gif{
    margin-left: 5%;
    color:white;
    font-weight: bold;
}

#movie-form{
    margin-left:5%;
    color:white;
    font-weight: bold;
}
h1{
    color:white;
}
h4{
    margin-left: 5%;
    color:white;
}